* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto';
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

.main {
  padding: 8.0rem 3.0rem;

  @media(min-width:768px) {
    padding: 8.0rem 10.0rem;
  }
}
