$content-space-minWidth-768: 8.0rem 10.0rem;
$content-space-mobile: 8.0rem 3.0rem;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: 'Roboto';
}

:root {
  font-size: 62.5%;
  overflow-x: hidden;
}

.container__chat{
  position: fixed;
  bottom: 3.2rem;
  right: 3.2rem;
  z-index: 1;
}

.container__casesBlock {
  background-color: #fff;
  padding: $content-space-mobile;
  
  @media(min-width:768px) {
    padding: $content-space-minWidth-768;
  }
}

.container__videoBlock {
  background: #F8F8F8;
  padding: $content-space-mobile;
  
  @media(min-width:768px) {
    padding: $content-space-minWidth-768;
  }
}

.container__contactBlock {
  padding: $content-space-mobile;
  height: 90.0rem;
  
  @media(min-width:768px) {
    padding: $content-space-minWidth-768;
  }
}

.container__footer {
  background-color: #fff;
  border-top: 0.1rem solid #E2E2E2;
  padding: $content-space-mobile;
  
  @media(min-width:768px) {
    padding: $content-space-minWidth-768;
  }

}