.ancorStructure {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 500;
  letter-spacing: -0.024rem;
  transition: all 0.5s ease;
  
  &:hover {
    scale: (1.03);
    text-decoration: underline;
    cursor: pointer;
  }
}